<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 写Sql语句   -->
<mapper namespace="org.shop.dao.DeleteMapper">
    <!--
     //商品一级类别
        public List<Division> divisionList(Page<Division> page);

        public boolean divisionDelete(Division div);

        public int divisionDeleteBatch(DeleteVO vo);
    -->
    <!-- 删除 -->
    <delete id="divisionDelete" parameterType="org.shop.pojo.Division">
      delete from  division
      WHERE division_id=#{divisionId}
      and division_or_delete = 1
      and (select count(1) from subdivision where division_id = #{divisionId} and subdivision_or_delete= 1) = 0
    </delete>

    <!-- 批量删除 -->
    <delete id="divisionDeleteBatch" parameterType="DeleteVO">
        delete from division
        WHERE
        division_or_delete = 1
        and division_id IN
        <foreach collection="ids" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
        and (select count(1) from subdivision where division_id in
        <foreach collection="ids" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
        and subdivision_or_delete= 1 ) = 0
    </delete>

    <!-- 查询所有 -->
    <select id="divisionAll" resultType="long" parameterType="org.shop.pojo.Division">
        SELECT count(1)
        FROM division
        WHERE division_or_delete=1
        <if test="divisionName!=null and divisionName!=''">AND division_name like CONCAT("%",#{divisionName},"%")</if>
    </select>

    <!-- 分页条件查询所有 -->
    <select id="divisionList" parameterType="org.shop.utils.Page"
            resultType="org.shop.pojo.Division">
        SELECT division_id,division_name
        FROM division
        WHERE division_or_delete=1
        <if test="condition!=null and condition.divisionName!=null and condition.divisionName!=''">
            and division_name like concat("%",#{condition.divisionName},"%")
        </if>
        limit #{start},#{limit}
    </select>


    <!--
    //商品二级类别
    public List<Subdivision> subdivisionList(Page<Subdivision> page);

    public boolean subdivisionDelete(Subdivision sub);
    long subdivisionAll(Subdivision subdivision);
    public int subdivisionDeleteBatch(DeleteVO vo);
    -->
    <!--删除-->
    <delete id="subdivisionDelete" parameterType="Subdivision">
      delete from  subdivision
      where subdivision_id=#{subdivisionId}
      and subdivision_or_delete = '1'
    </delete>

    <!--批量删除-->
    <delete id="subdivisionDeleteBatch" parameterType="DeleteVO">
        delete from subdivision
        where subdivision_or_delete = '1'
        and subdivision_id in
        <foreach collection="ids" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>

    <resultMap id="subdivision" type="Subdivision">
        <id property="subdivisionId" column="subdivision_id"></id>
        <result property="subdivisionName" column="subdivision_name"></result>
        <association property="division" column="division_id" javaType="Division">
            <id property="divisionId" column="division_id"></id>
            <result property="divisionName" column="division_name"></result>
        </association>
    </resultMap>

    <!--查询所有-->
    <select id="subdivisionAll" parameterType="Subdivision" resultType="long">
        select count(subdivision.subdivision_id) from subdivision,division
        where subdivision_or_delete=1
        and subdivision.division_id = division.division_id
        <if test="subdivisionName!=null and subdivisionName!=''">
            and subdivision_name like concat("%",#{subdivisionName},"%")
        </if>
        <!-- 按所属一级类别查询 -->
        <if test="division!=null and division.divisionId!=null and division.divisionId!=''">
            and division.division_id = #{division.divisionId}
        </if>
    </select>

    <!--分页条件查询-->
    <select id="subdivisionList" parameterType="org.shop.utils.Page" resultMap="subdivision">
        select
        subdivision.subdivision_name,
        subdivision.subdivision_id,
        division.division_id,
        division.division_name
        from subdivision,division
        where subdivision_or_delete=1
        and subdivision.division_id = division.division_id
        <if test="condition!=null and condition.subdivisionName!=null and condition.subdivisionName!=''">
            and subdivision_name like concat("%",#{condition.subdivisionName},"%")
        </if>
        <!-- 按一级类别查询 -->
        <if test="condition!=null and condition.division!=null and condition.division.divisionId!=null and condition.division.divisionId!=''">
            and division.division_id = #{condition.division.divisionId}
        </if>
        limit #{start},#{limit}
    </select>

    <!--
    //商品信息
    public List<Product> productList();

    public boolean productDelete();

    public int productDeleteBatch(DeleteVO vo);

    public long productAll(Product);
    -->
    <!--删除-->
    <delete id="productDelete" parameterType="Product">
        delete from  product
        where product_or_delete = 1
        and product_id = #{productId}
    </delete>

    <!--批量删除-->
    <delete id="productDeleteBatch" parameterType="DeleteVO">
        delete from product
        where product_or_delete = 1
        and product_id in
        <foreach collection="ids" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>

    <!--查询所有-->
    <select id="productAll" parameterType="Product" resultType="long">
        select count(1)
        from product,division,subdivision
        where product.division_id = division.division_id
        and product.subdivision_id = subdivision.subdivision_id
        and product_or_delete = 1
        <if test="productName!=null and productName!=''">
            and product_name like concat("%",#{productName},"%")
        </if>
        <if test="productOrHot!=null and productOrHot!=''">
            and product_or_hot = #{productOrHot}
        </if>
        <if test="division!=null and division.divisionId!=null and division.divisionId!=''">
            and product.division_id = #{division.divisionId}
        </if>
        <if test="subdivision!=null and subdivision.subdivisionId!=null and subdivision.subdivisionId!=''">
            and product.subdivision_id = #{subdivision.subdivisionId}
        </if>
    </select>
    <resultMap id="Product" type="Product">
        <id property="productId" column="product_id"/>
        <result property="productName" column="product_name"/>
        <result property="productDate" column="product_date"/>
        <result property="productDetail" column="product_detail"/>
        <result property="productImage" column="product_image"/>
        <result property="productMarketPrice" column="product_market_price"/>
        <result property="productShopPrice" column="product_shop_price"/>
        <result property="productOrHot" column="product_or_hot"/>
        <result property="productOrDelete" column="product_or_delete"/>
        <association property="division" javaType="Division">
            <id property="divisionId" column="division_id"/>
            <result property="divisionName" column="division_name"/>
        </association>
        <association property="subdivision" javaType="Subdivision">
            <id property="subdivisionId" column="subdivision_id"/>
            <result property="subdivisionName" column="subdivision_name"/>
        </association>
    </resultMap>
    <!--分页条件查询-->
    <select id="productList" parameterType="org.shop.utils.Page" resultMap="Product">
        select product.*,division.*,subdivision.*
        from product,division,subdivision
        where product.division_id = division.division_id and product.subdivision_id = subdivision.subdivision_id
        and product_or_delete = 1
        <if test="condition!=null and condition.productName!=null and condition.productName!=''">
            and product_name like concat("%",#{condition.productName},"%")
        </if>
        <if test="condition!=null and condition.productOrHot!=null and condition.productOrHot!=''">
            and product_or_hot = #{condition.productOrHot}
        </if>
        <if test="condition!=null and condition.division!=null and condition.division.divisionId!=null and condition.division.divisionId!=''">
            and product.division_id = #{condition.division.divisionId}
        </if>
        <if test="condition!=null and condition.subdivision!=null and condition.subdivision.subdivisionId!=null and condition.subdivision.subdivisionId!=''">
            and product.subdivision_id = #{condition.subdivision.subdivisionId}
        </if>
        limit #{start},#{limit}
    </select>

    <!--
    //订单信息
    public List<Order> orderList();

    public boolean orderDelete();

    public int orderDeleteBatch(DeleteVO vo);
    -->
    <!-- 删除 -->
    <delete id="orderDelete" parameterType="OrderItem">
      delete from  order_item
      WHERE order_item_id=#{orderItemId}
      and order_item_or_delete='1'
    </delete>

    <!-- 批量删除 -->
    <delete id="orderDeleteBatch" parameterType="DeleteVO">
        delete from order_item
        WHERE order_item_or_delete=1
        and order_item_id IN
        <foreach collection="ids" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>

    <resultMap id="OrderItem" type="OrderItem">
        <id property="orderItemId" column="order_item_id"/>
        <result property="orderItemCount" column="order_item_count"/>
        <result property="orderItemSubtotal" column="order_item_subtotal"/>
        <result property="orderItemDate" column="order_item_date"/>
        <result property="orderItemStatu" column="order_item_statu"/>
        <association property="product" column="product_id" javaType="Product">
            <result property="productName" column="product_name"/>
            <result property="productImage" column="product_image"/>
            <result property="productShopPrice" column="product_shop_price"/>
        </association>
        <association property="user" column="user_id" javaType="User">
            <result property="userRealName" column="user_real_name"/>
            <result property="userUsername" column="user_username"/>
        </association>
        <association property="division" column="division_id" javaType="Division">
            <id property="divisionId" column="division_id"/>
            <result property="divisionName" column="division_name"/>
        </association>
        <association property="subdivision" column="subdivision_id" javaType="Subdivision">
            <id property="subdivisionId" column="subdivision_id"/>
            <result property="subdivisionName" column="subdivision_name"/>
        </association>
    </resultMap>
    <!-- 查询所有 -->
    <select id="orderAll" resultType="long" parameterType="OrderItem">
        SELECT count(1)
        FROM product p,division d,subdivision sb,USER u,order_item oi
        WHERE p.`division_id` = d.`division_id`
        AND p.`subdivision_id` = sb.`subdivision_id`
        AND p.`product_id` = oi.`product_id`
        AND u.`user_id` = oi.`user_id`
        AND oi.`order_item_or_delete` = 1
        <!-- 用户名 -->
        <if test="user!=null and user.userRealName!=null and user.userRealName!=''">
            AND (u.`user_real_name` LIKE CONCAT("%",#{user.userRealName},"%") or u.user_username like
            CONCAT("%",#{user.userRealName},"%"))
        </if>
        <if test="division!=null and division.divisionId!=null and division.divisionId!=''">
            <!-- 商品一级类别 -->
            AND d.`division_id` = #{product.division.divisionId}
        </if>
        <if test="subdivision!=null and subdivision.subdivisionId!=null and subdivision.subdivisionId!=''">
            <!-- 商品二级类别 -->
            AND sb.`subdivision_id` = #{subdivision.subdivisionId}
        </if>
        <if test="product!=null and product.productName!=null and product.productName!=''">
            <!-- 商品名称 -->
            AND p.`product_name` LIKE CONCAT("%",#{product.productName},"%")
        </if>
    </select>

    <!-- 分页条件查询所有 -->
    <select id="orderList" resultMap="OrderItem" parameterType="org.shop.utils.Page">
        SELECT p.`product_name`,p.`product_image`,p.`product_shop_price`,
        d.`division_id`,d.`division_name`,sb.`subdivision_id`,sb.`subdivision_name`,
        u.`user_username`,u.`user_real_name`,
        oi.`order_item_id`,oi.`order_item_count`,oi.`order_item_subtotal`,oi.`order_item_date`,oi.`order_item_statu`
        FROM product p,division d,subdivision sb,USER u,order_item oi
        WHERE p.`division_id` = d.`division_id`
        AND p.`subdivision_id` = sb.`subdivision_id`
        AND p.`product_id` = oi.`product_id`
        AND u.`user_id` = oi.`user_id`
        AND oi.`order_item_or_delete` = 1
        <!-- 用户名 -->
        <if test="condition!=null and condition.user!=null and condition.user.userRealName!=null and condition.user.userRealName!=''">
            AND (u.`user_real_name` LIKE CONCAT("%",#{condition.user.userRealName},"%") or u.user_username like
            CONCAT("%",#{condition.user.userRealName},"%"))
        </if>
        <if test="condition!=null and condition.division!=null and condition.division.divisionId!=null and condition.division.divisionId!=''">
            <!-- 商品一级类别 -->
            AND d.`division_id` = #{condition.division.divisionId}
        </if>
        <if test="condition!=null and condition.subdivision!=null and condition.subdivision.subdivisionId!=null and condition.subdivision.subdivisionId!=''">
            <!-- 商品二级类别 -->
            AND sb.`subdivision_id` = #{condition.subdivision.subdivisionId}
        </if>
        <if test="condition!=null and condition.product!=null and condition.product.productName!=null and condition.product.productName!=''">
            <!-- 商品名称 -->
            AND p.`product_name` LIKE CONCAT("%",#{condition.product.productName},"%")
        </if>
        limit #{start},#{limit}
    </select>

    <!--
    //物流信息
    public List<Orders> ordersList();

    public boolean ordersDelete();

    public int ordersDeleteBatch(DeleteVO vo);
    -->
    <select id="ordersList" parameterType="org.shop.utils.Page" resultType="Orders">
        select orders.*,product.`product_name`
        from orders,order_item,product
        where orders.`orders_id` = order_item.`orders_id`
        and order_item.`product_id` = product.`product_id`
        and orders_or_delete=1
        <if test="condition!=null and condition.userRealName!=null and condition.userRealName!=''">
            and orders.user_real_name like concat("%",#{condition.userRealName},"%")
        </if>
        <if test="condition.productName!=null and condition.productName!=''">
            and product.product_name like concat("%",#{condition.productName},"%")
        </if>
        limit #{start},#{limit}
    </select>

    <select id="ordersAll" parameterType="Orders" resultType="long">
        select count(1)
        from orders,order_item,product
        where orders.`orders_id` = order_item.`orders_id`
        and order_item.`product_id` = product.`product_id`
        and orders_or_delete=1
        <if test="userRealName!=null and userRealName!=''">
            and orders.user_real_name like concat("%",#{userRealName},"%")
        </if>
        <if test="productName!=null and productName!=''">
            and product.product_name like concat("%",#{productName},"%")
        </if>
    </select>
    <!-- 删除 -->
    <update id="ordersDelete" parameterType="Orders">
      delete from  orders
      WHERE orders_id=#{ordersId}
      and orders_or_delete='1'
    </update>

    <!-- 批量删除 -->
    <delete id="ordersDeleteBatch" parameterType="DeleteVO">
        delete from orders
        WHERE orders_or_delete=1
        and orders_id IN
        <foreach collection="ids" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>
</mapper>