<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 写Sql语句   -->
<mapper namespace="org.shop.dao.UserMapper">

    <!--删除-->
    <delete id="deleteUser" parameterType="User">
      delete from user
      where user_id=#{userId}
      and user_state !='1'
    </delete>

    <!--批量删除-->
    <delete id="deleteBatchUser" parameterType="DeleteVO">
        delete from user
        where user_id in
        <foreach collection="ids" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
        and user_state !='1'
    </delete>

    <!--查询所有 姓名-->
    <select id="selectAllUser" parameterType="User" resultType="long">
        select count(1) from user
        <where>
            <if test="userRealName!=null and userRealName!=''">
                and user_real_name like concat("%",#{userRealName},"%")
            </if>
            <if test="userState!=null and userState!=''">
                and user_state = #{userState}
            </if>
        </where>
    </select>

    <!--分页条件查询 姓名-->
    <select id="selectAllPageConditionUser" parameterType="org.shop.utils.Page" resultType="User">
        select
        user_id,user_username,user_real_name,user_email,user_telephone,user_birthday,user_sex,user_state,user_address,user_date
        from user
        <where>
            <if test="condition!=null and condition.userRealName!=null and condition.userRealName!=''">
                and user_real_name like concat("%",#{condition.userRealName},"%")
            </if>
            <if test="condition!=null and condition.userState!=null and condition.userState!=''">
                and user_state = #{condition.userState}
            </if>
        </where>
        limit #{start},#{limit}
    </select>

    <!--查询单条数据具体信息-->
    <select id="selectSingle" resultType="User" parameterType="User">
        select * from user
        where user_id = #{userId}
    </select>

</mapper>