<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <bean id="productOperateService" class="org.shop.service.ProductOperateService"></bean>
    <bean id="userOperateService" class="org.shop.service.UserOperateService"></bean>
    <bean id="cartService" class="org.shop.service.CartService"></bean>
    <bean id="userOrderService" class="org.shop.service.UserOrderService"></bean>
    <bean id="orderItemServiceImpl" class="org.shop.service.OrderItemServiceImpl"/>
    <bean id="logisticsService" class="org.shop.service.LogisticsService"/>
    <bean id="adminService" class="org.shop.service.AdminService"/>
</beans>