<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd">
    <!-- 配置Controller扫描 就是打注解，实例化类 -->
    <context:component-scan base-package="org.shop.controller"/>

    <!-- 配置注解驱动 这样可以省略不写处理器映射器 处理器适配器-->
    <mvc:annotation-driven/>
    <!-- 对静态资源放行  -->
    <mvc:resources location="/css/" mapping="/css/**"/>
    <mvc:resources location="/css/modules/" mapping="/css/modules/**"/>
    <mvc:resources location="/js/" mapping="/js/**"/>
    <mvc:resources location="/js/util/" mapping="/js/util/**"/>
    <mvc:resources location="/fonts/" mapping="/fonts/**"/>
    <mvc:resources location="/img/" mapping="/img/**"/>
    <mvc:resources location="/products/" mapping="/products/**"/>
    <mvc:resources location="/products/1/" mapping="/products/1/**"/>
    <mvc:resources location="/lay/modules/" mapping="/lay/modules/**"/>
    <!-- 上传图片配置实现类 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 上传图片的大小：5000000B-->
        <property name="maxUploadSize" value="5000000"/>
    </bean>
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/products/*"/>
            <mvc:exclude-mapping path="/user/login.do"/>
            <mvc:exclude-mapping path="/user/loginTel.do"/>
            <mvc:exclude-mapping path="/user/register.do"/>
            <mvc:exclude-mapping path="/user/checkUsername.do"/>
            <mvc:exclude-mapping path="/user/code.do"/>
            <bean class="org.shop.controller.interceptor.CheckUserOrLogin"></bean>
        </mvc:interceptor>
    </mvc:interceptors>
    <mvc:view-controller path="/" view-name="redirect:/products/index.do"/>
    <!-- 配置视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!-- 前缀 -->
        <property name="prefix" value="/admin/"/>
        <!-- 后缀 -->
        <property name="suffix" value=".jsp"/>
    </bean>
</beans>